*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Main Styling */
html  body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1,7em;
background-color: #1A1718;
}
a{
  color:#1A1718;
  text-decoration: none;
}
h1,h2,h3 {
  padding-bottom:20px;
}

p{
  margin:10px 0;
}

/* Utility Classes */
.container{
  margin:auto;
  max-width: 1500px;
  overflow:auto;
  padding:0 20px;
  
}

.text-primary{
  color:#f7c08a;
}

.lead{
  font-size:20px;
}

.btn{
  display:inline-block;
  font-size:18px;
  color:#fff;
  background:#1A1718;
  padding:13px 20px;
  border:none;
  cursor:pointer;
}

/* .btn:hover{
  background:#f7c08a;
  color:#333
} */


.btn-light {
  background: #1A1718;
  color: #1A1718;
}

.bg-dark {
  background: #1A1718;
  color: #fff;
}

.bg-light {
  background: #1A1718;
  color: #1A1718;
}

.bg-primary {
  background: #f7c08a;
  color: #1A1718;
}
.clr{
    clear:both;
}
.l-heading{
    font-size:40px;
}

/* Padding */
.py-1{padding:10px 0 ;}
.py-2{padding:20px 0 ;}
.py-3{padding:30px 0 ;}

/* Navbar */
#navbar{
  background:#1A1718;
  color:#928427;
  overflow:auto;
  float: center;
}

#navbar a{
  color:#928427;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 80px;
  
}

#navbar h1{
  float:left;
 
}

#navbar ul{
  list-style:none;
  position: relative;
  float:none;
}

#navbar ul li {
float:right;
}

#navbar ul li a{
  display:block;
  padding:20px;
  text-align: center;
}


#navbar ul li a.current{
  background:#1A1718;
  
}

#navbar li a {
  display: inline-block;
  position: relative;
  color: #928427;
  
}

#navbar li a:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #928427;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navbar ul li a:hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* showcase */
/* 
#showcase{
  background-image: url('../img/showcase.jpg'); no-repeat 
  center center/cover;
  height: 1050px;
  
}
*/

#showcase .showcase-content{
  color:#fff;
  text-align:center;
  padding-top:500px;
}

#showcase .showcase-content h1{
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
}

#showcase .showcase-content p {
  padding-bottom:20px;
  line-height: 1.7em;
}
#home-info {
  height: 400px;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url('../img/photo-1.jpg') no-repeat;
  min-height: 100%;
  
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
  
}

#home-info .info-content p {
  padding-bottom: 30px;
}
/* Features */
.box{
  float:left;
  widows: 33.5%;
  padding:60px;
  text-align:center;
}

.box i{
  margin-bottom:10px;
}

/* About Info */
#about-info .info-right{
  float:right;
  width:50%;
  min-height:100%;
}
#about-info .info-left{
  float:left;
  width:50%;
  min-height: 100%;
}

#about-info .info-right img{
  display:block;
  margin:auto;
  width:70%;
  border-radius:50%;
}
#testimonials{
  height:600px;
  background:url('../img/test-bg.jpg') no-repeat center center/cover;
  padding-top:100px;
}

#testimonials .testimonial img{
  width:100px;
  float:left;
  margin-right:40px;
  border-radius:50%;
}

#testimonials  h2{
  color:#fff;
  text-align:center;
  padding-bottom:55px;
}

#testimonials .testimonial{
  padding:20px;
  margin-bottom:40px;
  border-radius:5px;
  opacity: 0.85;
}
#contact-form .form-group{
  margin-bottom:20px;
}
#contact-form label{
  display:block;
  margin-bottom:5px;
}

#contact-form input, #contact-form textarea {
  width:100%;
  padding:10px;
  border:1px #ddd slod;
}

#contact-form textarea{
  height:200px;
}
#contact-form input:focus, #contact-form textarea:focus {
  outline:none;
  border-color:#f7c08a
}

.column1,.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}



.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-left: 150px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.stars{
  position: absolute;
  color: #928427;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
 
}

.find{
  position: absolute;
  color: #FFFFFF;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  
}
.des_main{
  font-family: 'Open Sans';
  padding-top: 20px;
  width: 526px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 22px;
  float: left;
}

.room1_main{
  
  width: 300px;
  height: 200px;
  
}

.room2_main{
  
  width: 300px;
  height: 200px;
  
}

.navmid{
  float: left;
  padding-left: 400px;
}

button {
  border: #928427;
  border-radius: 41px;
  color: #928427;
  background-color: #1A1718;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn {
  border: 2px solid black;
  background-color: #1A1718;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  
}


.login {
  border-color: #928427;
  color: #928427;
  position: absolute;
  width: 135px;
  left: 1294px;
  top: 24px;
}



.bookroom {
  border-color: #928427;
  color: #FFFFFF;
  width: 215px;
}
